/*
 * CONCERTS STYLES
 */
 $concerts-primary-colour: #D0006F;
 $concerts-secondary-colour: #AF005D;
  .rqf-page {
   body.york-concerts-page {
     div#header {
       div#logo {
         padding: 1.4em 0;
         a {
           width: auto;
           height: auto;
           // Adjust logo width at various breakpoints
           @media only screen and ( min-width: 512px ) and ( max-width: 630px ) {
             max-width: 200px;
           }
           @media only screen and ( min-width: 630px ) and ( max-width: 730px ) {
             max-width: 300px;
           }
           @media only screen and ( min-width: 730px ) and ( max-width: 800px ) {
             max-width: 400px;
           }
         }
         img {
           display: block;
           max-width: 100%;
           width: auto;
           height: auto;
         }
       }
       div#location {
         @media only screen and (max-width: 512px) {
           padding-bottom:32px;
         }
         a {
           padding-bottom:15px !important;
           width:100%;
           max-width:240px;
           height:69px;
           @media only screen and (max-width: 962px) {
             img {
               max-width:240px;
             }
           }
           @media only screen and (max-width: 512px) {
             padding-top:10px !important;
             margin-left: auto;
             margin-right: auto;
           }
         }
       }
       form {
         padding-top:34px;
         // Move form down earlier
         @media only screen and (max-width: 512px) {
           top:89px;
           padding:0 2%;
           width:96%;
           input#search {
             width:70%;
             width:calc(75% - 18px);
             float:left;
           }
           input.submit {
             width:20%;
             width:calc(25% - 2px);
             float:left;
           }
         }
         @media only screen and (max-width: 480px) {
           padding-top:0;
         }
         input.submit {
          background-color:$concerts-primary-colour !important;
          border-color: $concerts-primary-colour !important;
        }
       }

     }
     div#extra-links {
       border-bottom-color:$concerts-primary-colour;
     }
     div#footer {
       border-top-color:$concerts-primary-colour;
     }
     div#mdcolumn,
     div#rhcolumn {
       a {
         color:$concerts-secondary-colour;
         &:hover
         {
           color:$concerts-primary-colour;
         }
       }
       ul.tabNavigation li a {
         color: #000;
         &:hover {
             color:white;
             background:$concerts-primary-colour;
             border-color:$concerts-primary-colour;
         }
       }
       ul.tabNavigation li a.selected {
        color:$concerts-primary-colour;
        &:hover {
          color:white;
          background:$concerts-primary-colour;
        }
       }
       .cta a,
       .cta a[href^="http://"],
       a.cta,
       a.cta[href^="https://"] {
         background:$concerts-primary-colour;
         color:#fff;
       }
       .col-half, .col-third {
         h2,
         .boxout h2,
         .boxoutAlt h2 {
           background-color:$concerts-primary-colour;
         }
       }
       .boxoutAlt {
         background-color:$concerts-primary-colour;
         border-color:$concerts-primary-colour;
         a {
           color:white;
           &:hover { color:white; }
         }
       }
     }
     div#lhcolumn #nav li a:hover {
      background-color:$concerts-primary-colour !important;
     }
     div#lhcolumn #nav li span.parent,
     div#lhcolumn #nav li span.parent a.parent {
      background-color:$concerts-secondary-colour !important;
     }
     
   }
 }