//
// COOKIE BANNER
//

#cookie-opt-in {

    font-size: 16px;
    background-color: #175f77;
    color: #fff;

    /* Stick to the bottom of the viewport */
    z-index: 2147483001; /* To cover UniBuddy... :/ */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    /* Content positioning */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;

    /* Constrain content to container width */
    padding:0 calc( 50% - 482px );
}

/* Padding & gutter between children */
#cookie-opt-in > * {
    padding:20px 10px;
}

#cookie-opt-in p {
    margin: 0;
}

#cookie-opt-in a {
    text-decoration: underline;
    color: #fff;
}

#cookie-opt-in .cookie-opt-in__dismiss a {
    padding:20px;
    margin:0 -20px;
    text-decoration: none;
}

body.has-c-cookie-banner footer
{
    padding-bottom:5em;
}

@media only screen and (max-width: 49.9375em) and (min-width: 40em) {
}
@media only screen and (max-width: 39.9375em) {
    #cookie-opt-in > * {
        padding:10px;
    }
}
@media only screen and (max-width: 29.9375em) {

}