// hide asterisk on required fields
.fsRequiredMarker {
    color: inherit !important;  
}

div#feedback > .fsBody {
    padding: 0 !important;
    .fsForm {
        margin: 0 auto !important; 
        padding: 0 !important;
        .fsSubmit {
            margin-top: 0 !important;
        }
    }
    .fsLabel, 
    .fsBody label {
        font-size: inherit!important;
    }
}

// remove colour from the error highlight
div.fsValidationError {
    background-color: inherit !important; // should get #333 from the footer background
}

// overide validation error colours
div.fsError {
    background-color: #f4d4d4 !important;
    border: 0 !important;
}