//
// IMPORTS
//

// Toggle button styles
@import "toggle";
@import "general";
@import "tablet";
@import "mobile";
@import "mobile-small";
@import "concerts";

// Must have position to get relative offsets
.col-half,
.col-third {
  position:relative;
  + * {
    clear:both;
  }
  + .col-half,
  + .col-third {
    clear:none;
  }
}
// First item shouldn't have top margin - makes it 'lower' than other stuff
div#mdcolumn p.left:first-child {
  margin-top:0;
}
// Unless it's in a boxout!
div#mdcolumn .boxout p.left:first-child {
  margin-top:0.5em;
}
