/*============================================================
		STAFF & STUDENT SITEs/SECTIONS
============================================================*/
/* line 5, sass/_staffstudents.scss */
html.rqf-staff-page {
  /*============================================================
          HEADER
  ============================================================*/
  /*--search label colour--*/
  /*--search button border colour, text colour, background colour--*/
  /*============================================================
          EXTRA LINKS
  ============================================================*/
  /*============================================================
          FOOTER
  ============================================================*/
  /*============================================================
          FOOTER SITEMAP
  ============================================================*/
  /*============================================================
          FOOTER YUSU/GSA
  ============================================================*/
  /*============================================================
          FOOTER FEEDBACK
  ============================================================*/
  /*============================================================
          FOOTER LEGAL
  ============================================================*/
  /*============================================================
          STUDENT HOMEPAGE - LOGOUT
  ============================================================*/
  /*Hide the logout instructions initially*/
  /*============================================================
          STUDENT HOMEPAGE - NEWS
  ============================================================*/
  /*
  * qTip2 - Pretty powerful tooltips
  * http://craigsworks.com/projects/qtip2/
  *
  * Version: nightly
  * Copyright 2009-2010 Craig Michael Thompson - http://craigsworks.com
  *
  * Dual licensed under MIT or GPLv2 licenses
  *   http://en.wikipedia.org/wiki/MIT_License
  *   http://en.wikipedia.org/wiki/GNU_General_Public_License
  *
  * Date: Wed Jul 13 07:08:00 PDT 2011
  */
  /* Core qTip styles */
  /* Fluid class for determining actual width in IE */
  /*! Default close button class */
  /* IE fix */
  /*! Light tooltip style */
  /* Tips plugin */
  /*! Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE6+, Safari 2+ */
  /*Press releases*/
  /*============================================================
          STUDENT HOMEPAGE - TIMETABLE
  ============================================================*/
  /*============================================================
          STUDENT HOMEPAGE - LIBRARY
  ============================================================*/
  /*Library search*/
  /*Library items list*/
  /*============================================================
          STAFF HOME - UNIVERSITY MAGAZINE
  ============================================================*/
  /*============================================================
          EVENTS LISTING
  ============================================================*/
}
/* line 11, sass/_staffstudents.scss */
html.rqf-staff-page div#header a {
  color: #FFF;
  text-decoration: none;
}
/* line 16, sass/_staffstudents.scss */
html.rqf-staff-page #global #staffstudent {
  display: none;
}
/* line 20, sass/_staffstudents.scss */
html.rqf-staff-page #global a:hover {
  text-decoration: underline;
}
/* line 25, sass/_staffstudents.scss */
html.rqf-staff-page div#header form label {
  color: #000;
}
/* line 30, sass/_staffstudents.scss */
html.rqf-staff-page div#header form input.submit {
  margin-right: 0;
  padding: 5px 10px;
}
/* line 39, sass/_staffstudents.scss */
html.rqf-staff-page #extra-links h1 {
  float: left;
}
/* line 43, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu {
  display: block;
  float: right;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 51, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu a:link {
  text-decoration: none;
}
/* line 55, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu a:hover {
  text-decoration: underline;
}
/* line 59, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu li {
  float: left;
  padding: 10px 0;
  position: relative;
  z-index: 999;
}
/* line 66, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu li a {
  padding: 10px;
}
/* line 70, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu {
  background-color: #2C4B7E;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  width: 100px;
  z-index: 999;
}
/* line 83, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li {
  display: block;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #234172;
  border-top: 1px solid #3a5a90;
}
/* line 91, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li a {
  display: block;
  width: 80px;
}
/* line 96, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li a:hover {
  background-color: #052A66;
  text-decoration: none;
}
/* line 104, sass/_staffstudents.scss */
html.rqf-staff-page div#footer {
  border-top: none;
  color: #FFF;
  margin-top: 0;
  padding: 0;
}
/* line 111, sass/_staffstudents.scss */
html.rqf-staff-page div#footer a {
  color: #FFF;
}
/* line 115, sass/_staffstudents.scss */
html.rqf-staff-page #lastupdated {
  clear: both;
  color: #888;
  font-size: 70%;
  margin: 10px 20px 0 0;
  text-align: right;
}
/* line 123, sass/_staffstudents.scss */
html.rqf-staff-page #footer h2 {
  /* border-bottom:5px solid #eee;  */
  color: #eee;
  margin: 0;
  padding: 0 0 0px;
  text-shadow: 0 -1px 0 black;
}
/* line 131, sass/_staffstudents.scss */
html.rqf-staff-page div#footer a:hover, html.rqf-staff-page div#footer .edit a:hover {
  text-decoration: none;
}
/* line 139, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap {
  float: left;
  padding: 20px;
}
/* line 144, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap .col-third {
  float: left;
  margin-left: 15px;
  width: 200px;
}
/* line 150, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap .col-third.first-col {
  margin-left: 0;
}
/* line 154, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap h3 {
  margin-bottom: 5px;
  margin-top: 20px;
}
/* line 159, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}
/* line 166, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap li {
  margin-bottom: 3px;
  background: transparent url("/media/css/staff/bullet.gif") no-repeat 0px 4px;
  padding-left: 12px;
}
/* line 176, sass/_staffstudents.scss */
html.rqf-staff-page #union-social {
  clear: both;
  float: left;
  padding: 20px;
  width: 600px;
}
/* line 183, sass/_staffstudents.scss */
html.rqf-staff-page #social {
  float: left;
  width: 215px;
}
/* line 188, sass/_staffstudents.scss */
html.rqf-staff-page #social a:first-child img {
  margin-bottom: 10px;
}
/* line 192, sass/_staffstudents.scss */
html.rqf-staff-page #union {
  float: left;
}
/* line 196, sass/_staffstudents.scss */
html.rqf-staff-page #union a:first-child img {
  margin-right: 15px;
}
/* line 203, sass/_staffstudents.scss */
html.rqf-staff-page #feedback {
  margin-left: 690px;
  padding: 20px;
  text-align: left;
}
/* line 209, sass/_staffstudents.scss */
html.rqf-staff-page #feedback label {
  color: #fff;
}
/* line 213, sass/_staffstudents.scss */
html.rqf-staff-page #feedback textarea {
  height: 150px;
  width: 230px;
}
/* line 218, sass/_staffstudents.scss */
html.rqf-staff-page div#footer form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
/* line 225, sass/_staffstudents.scss */
html.rqf-staff-page div#footer form li {
  background: none;
  display: block;
  margin: 0;
  padding: 6px 5px 9px 0px;
  width: 62%;
}
/* line 233, sass/_staffstudents.scss */
html.rqf-staff-page #footer form li:after, html.rqf-staff-page #footer form li div:after {
  clear: none;
}
/* line 237, sass/_staffstudents.scss */
html.rqf-staff-page #footer input.submit {
  padding: 5px 10px;
}
/* line 241, sass/_staffstudents.scss */
html.rqf-staff-page div#footer #feedback a:link {
  text-decoration: underline;
}
/* line 248, sass/_staffstudents.scss */
html.rqf-staff-page #footer #legal {
  clear: both;
  font-size: 85%;
  padding: 20px;
}
/* line 254, sass/_staffstudents.scss */
html.rqf-staff-page #footer #legal p {
  margin: 0;
}
/* line 262, sass/_staffstudents.scss */
html.rqf-staff-page a#logout {
  float: right;
}
/* line 267, sass/_staffstudents.scss */
html.rqf-staff-page #logout-text {
  display: none;
}
/* line 274, sass/_staffstudents.scss */
html.rqf-staff-page #newsinfo {
  float: right;
  font-size: 60%;
}
/* line 279, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem .headline {
  display: inline;
  font-weight: normal;
}
/* line 284, sass/_staffstudents.scss */
html.rqf-staff-page div#latestnews.noteaser .newsitem p.newsPosted {
  margin: 0 0 10px 0;
}
/* line 288, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem {
  margin-bottom: 15px;
}
/* line 292, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem span.newsposted {
  font-size: 85%;
  color: #777;
}
/* line 297, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem span.newsposted:before {
  content: " - ";
}
/* line 301, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem a:hover span.newsposted {
  text-decoration: none;
}
/* line 305, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a[href$=".pdf"] {
  background: url("/media/global/icons/icon_pdf.gif") no-repeat left center;
  padding-left: 20px;
}
/* line 310, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a {
  background: url("/media/global/icons/icon_external.gif") no-repeat left center;
  padding-left: 20px;
}
/* line 315, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a[href*="yorkextra/articles"] {
  background: none;
  padding-left: 0;
}
/* line 321, sass/_staffstudents.scss */
html.rqf-staff-page .yex {
  background-color: #fff;
}
/* line 325, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-title {
  display: none;
}
/* line 330, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-content {
  background-color: #fff;
}
/* line 334, sass/_staffstudents.scss */
html.rqf-staff-page .yex h1:first-of-type {
  margin-top: 0;
}
/* line 339, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-content > img:first-child, html.rqf-staff-page img.yorkextra-banner {
  display: none;
}
/* line 343, sass/_staffstudents.scss */
html.rqf-staff-page .yex img {
  max-width: 100%;
}
/* line 362, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip, html.rqf-staff-page .qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  line-height: 140%;
  max-width: 500px;
  min-width: 50px;
  font-size: 80% !important;
  /* 	line-height: 12px; */
  z-index: 15000;
}
/* line 378, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-fluid {
  display: block;
  visibility: hidden;
  position: static !important;
  float: left !important;
}
/* line 385, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-content {
  position: relative;
  padding: 0 12px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 398, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar {
  position: relative;
  min-height: 14px;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 2px 2px 0;
  border-style: solid;
  font-weight: bold;
}
/* line 410, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar + .ui-tooltip-content {
  border-top-width: 0px !important;
}
/* line 415, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar .ui-state-default {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: medium none;
}
/* line 426, sass/_staffstudents.scss */
html.rqf-staff-page * html .ui-tooltip-titlebar .ui-state-default {
  top: 16px;
}
/* line 431, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar .ui-icon,
html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
}
/* line 437, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-icon, html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 443, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  width: 18px;
  height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
/* line 456, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-titlebar,
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-content {
  border-color: #aaa;
  color: #111;
}
/* line 463, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-content {
  background-color: #fafafa;
}
/* line 467, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-titlebar {
  background-color: #fafafa;
}
/* line 472, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip {
  margin: 0 auto;
  overflow: hidden;
  background: transparent !important;
  border: 0px dashed transparent !important;
  z-index: 10;
}
/* line 481, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip,
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip * {
  position: absolute;
  line-height: 0.1px !important;
  font-size: 0.1px !important;
  color: #123456;
  background: transparent;
  border: 0px dashed transparent;
}
/* line 493, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip canvas {
  top: 0;
  left: 0;
}
/* line 499, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-shadow {
  -webkit-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
}
/* line 505, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-shadow .ui-tooltip-titlebar,
html.rqf-staff-page .ui-tooltip-shadow .ui-tooltip-content {
  filter: progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3)";
  _margin-bottom: -3px;
  /* IE6 */
  .margin-bottom: -3 px;
  /* IE7 */
}
/* line 516, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem p.newsPosted {
  font-size: 85%;
  color: #7e7e7e;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 524, sass/_staffstudents.scss */
html.rqf-staff-page div#pressreleases.noteaser .newsitem p.newsPosted {
  margin-bottom: 15px;
}
/* line 528, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem p {
  margin-bottom: 20px;
}
/* line 533, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem img {
  padding-right: 15px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 540, sass/_staffstudents.scss */
html.rqf-staff-page #mdcolumn #pressreleases hr, html.rqf-staff-page #rhcolumn #pressreleases hr {
  color: transparent;
  background-color: transparent;
  clear: both;
  padding: 0;
  margin: 5px 0;
}
/* line 548, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem .headline {
  font-size: 100%;
  display: block;
  font-weight: bold;
}
/* line 554, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem .newsimage {
  float: left;
}
/* line 561, sass/_staffstudents.scss */
html.rqf-staff-page h2#timetableHeading {
  float: left;
}
/* line 565, sass/_staffstudents.scss */
html.rqf-staff-page #todaysTimetable {
  margin-bottom: 20px;
}
/* line 569, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p:first-child {
  margin-top: 0;
}
/* line 573, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p:last-child {
  padding-bottom: 0;
}
/* line 577, sass/_staffstudents.scss */
html.rqf-staff-page .prevNext {
  float: right;
  margin-right: 12px;
  position: relative;
  top: 58px;
  z-index: 999;
}
/* line 586, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a {
  background-color: #ddd;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  margin-right: 0;
  padding: 0 6px;
}
/* line 599, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a:link, html.rqf-staff-page div#mdcolumn .prevNext a:visited {
  text-decoration: none;
  color: #444;
}
/* line 604, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a:hover {
  border: 1px solid #aaa;
  background-color: #ccc;
  color: #000;
}
/* line 610, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a.prev {
  margin-right: 3px;
}
/* line 614, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a.disabled, html.rqf-staff-page div#mdcolumn .prevNext a.disabled:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #999;
  cursor: default;
}
/* line 621, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable h3:first-child {
  margin-bottom: 3px;
}
/* line 625, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn p#weekOfTerm {
  color: #444;
  font-size: 90%;
  margin-bottom: 20px;
  padding-bottom: 0;
}
/* line 632, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p {
  font-size: 95%;
}
/* line 642, sass/_staffstudents.scss */
html.rqf-staff-page #library-text {
  margin: 0 6px 20px 12px;
  width: 130px;
}
/* line 649, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn ul#libraryItemsList {
  font-size: 90%;
  margin: 0 -12px;
  max-height: 300px;
  overflow: auto;
}
/* line 656, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn ul#libraryItemsList li {
  background: none;
  margin: 10px 0;
  padding-left: 0;
}
/* line 662, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList span {
  border-radius: 2px;
  font-size: 90%;
  margin-right: 5px;
  padding: 1px 3px;
  text-shadow: none;
}
/* line 670, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .overdue {
  color: #fff;
  background-color: red;
}
/* line 675, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .today {
  color: #fff;
  background-color: black;
}
/* line 680, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .future {
  color: #000;
  background-color: #bbb;
}
/* line 689, sass/_staffstudents.scss */
html.rqf-staff-page #university-magazine p.right img {
  height: 140px;
  width: 100px;
}
/* line 698, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event {
  padding: 0;
  padding-top: 5px;
}
/* line 703, sass/_staffstudents.scss */
html.rqf-staff-page mdcolumn#publiclectures .event {
  border-bottom: 1px solid #EEE;
}
/* line 707, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate {
  background-color: #fff;
  float: left;
  margin-bottom: 15px;
  margin-top: 4px;
  padding-bottom: 0px;
  text-align: center;
  width: 35px;
}
/* line 717, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .day {
  background-color: #860000;
  color: #FFF;
  display: block;
  font-size: 70%;
  line-height: 150%;
  padding: 1px;
}
/* line 726, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .date {
  border: 1px solid #DDD;
  border-width: 0 1px;
  display: block;
  font-size: 130%;
  font-weight: bold;
  line-height: 120%;
}
/* line 735, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .month {
  border: 1px solid #DDD;
  border-width: 0 1px 1px 1px;
  display: block;
  line-height: 120%;
  text-transform: uppercase;
  font-size: 80%;
  padding: 1px;
}
/* line 745, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdetails {
  margin-bottom: 15px;
  margin-left: 45px;
  padding-left: 0;
}
/* line 750, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventtitle {
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 755, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .venue {
  font-size: 85%;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 761, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .ampm {
  text-transform: lowercase;
}
/* line 765, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event p.speaker {
  font-size: 85%;
  margin-bottom: 5px;
}
/* line 770, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event p.eventteaser {
  font-size: 85%;
  margin-bottom: 5px;
}
/* line 775, sass/_staffstudents.scss */
html.rqf-staff-page #rhcolumn #publiclectures .event .eventteaser {
  display: none;
}
/* line 779, sass/_staffstudents.scss */
html.rqf-staff-page #rhcolumn #publiclectures .event .eventtitle {
  font-weight: bold;
  margin: 0;
}
