/*============================================================
		STUDENT SITE
============================================================*/
/*============================================================
		FONTS
============================================================*/
/* line 9, sass/_staffstudents.scss */
html.rqf-staff-page {
  /*============================================================
          BODY
  ============================================================*/
  /*============================================================
          CONTAINER
  ============================================================*/
  /*clearfix on #content-container, otherwise its background colour of white doesn't get applied*/
  /*============================================================
          HEADER
  ============================================================*/
  /*header font colour,background colour and background image*/
  /*Top level global site links*/
  /*--header h1 area title colour--*/
  /*--search label colour--*/
  /*--search box border colour--*/
  /*--search button border colour, text colour, background colour--*/
  /*============================================================
          EXTRA LINKS
  ============================================================*/
  /*--extra-links text colour,background colour--*/
  /*============================================================
          BREADCRUMB
  ============================================================*/
  /*--breadcrumb text colour, background colour--*/
  /*--link colours for breadcrumb--*/
  /*link*/
  /*visited*/
  /*hover*/
  /*============================================================
          LEFT COLUMN BLOCKED NAVIGATION
  ============================================================*/
  /*============================================================
          BOXOUT REGIONS
  ============================================================*/
  /*============================================================
          MIDDLE COLUMN TEXT FORMATTING
  ============================================================*/
  /*headings in columns*/
  /*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
  /*--table header border colour, background colour--*/
  /*--table subheader--*/
  /*Tabbed content*/
  /*FAQ*/
  /*Rotating banner*/
  /*============================================================
          HOMEPAGE COLUMN FORMATTING
  ============================================================*/
  /*============================================================
          RIGHT COLUMN TEXT FORMATTING
  ============================================================*/
  /*============================================================
          FOOTER
  ============================================================*/
  /*============================================================
          FOOTER SITEMAP
  ============================================================*/
  /*============================================================
          FOOTER YUSU/GSA
  ============================================================*/
  /*============================================================
          FOOTER FEEDBACK
  ============================================================*/
  /*============================================================
          FOOTER LEGAL
  ============================================================*/
  /*============================================================
          COMMON STYLES
  ============================================================*/
  /*============================================================
          STUDENT HOMEPAGE - LOGOUT
  ============================================================*/
  /*Hide the logout instructions initially*/
  /*============================================================
          STUDENT HOMEPAGE - NEWS
  ============================================================*/
  /*
  * qTip2 - Pretty powerful tooltips
  * http://craigsworks.com/projects/qtip2/
  *
  * Version: nightly
  * Copyright 2009-2010 Craig Michael Thompson - http://craigsworks.com
  *
  * Dual licensed under MIT or GPLv2 licenses
  *   http://en.wikipedia.org/wiki/MIT_License
  *   http://en.wikipedia.org/wiki/GNU_General_Public_License
  *
  * Date: Wed Jul 13 07:08:00 PDT 2011
  */
  /* Core qTip styles */
  /* Fluid class for determining actual width in IE */
  /*! Default close button class */
  /* IE fix */
  /*! Light tooltip style */
  /* Tips plugin */
  /*! Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE6+, Safari 2+ */
  /*Press releases*/
  /*============================================================
          STUDENT HOMEPAGE - TIMETABLE
  ============================================================*/
  /*============================================================
          STUDENT HOMEPAGE - LIBRARY
  ============================================================*/
  /*Library search*/
  /*Library items list*/
  /*============================================================
          STAFF HOME - UNIVERSITY MAGAZINE
  ============================================================*/
  /*============================================================
          EVENTS LISTING
  ============================================================*/
  /*============================================================
          CALL TO ACTION LINKS
  ============================================================*/
}
/* line 11, sass/_staffstudents.scss */
html.rqf-staff-page *, html.rqf-staff-page body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
/* line 16, sass/_staffstudents.scss */
html.rqf-staff-page h1, html.rqf-staff-page h2, html.rqf-staff-page h3, html.rqf-staff-page h4, html.rqf-staff-page h5, html.rqf-staff-page h6, html.rqf-staff-page h1 a, html.rqf-staff-page h2 a, html.rqf-staff-page h3 a, html.rqf-staff-page h4 a, html.rqf-staff-page h5 a, html.rqf-staff-page h6 a {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal !important;
}
/* line 21, sass/_staffstudents.scss */
html.rqf-staff-page h2 {
  font-size: 160%;
}
/* line 25, sass/_staffstudents.scss */
html.rqf-staff-page h3 {
  font-size: 130%;
}
/* line 29, sass/_staffstudents.scss */
html.rqf-staff-page div#header, html.rqf-staff-page div#content-container {
  font-size: 80%;
}
/* line 33, sass/_staffstudents.scss */
html.rqf-staff-page div#lhcolumn {
  font-size: 90%;
}
/* line 40, sass/_staffstudents.scss */
html.rqf-staff-page body {
  margin: 0;
  padding: 15px;
}
/* line 45, sass/_staffstudents.scss */
html.rqf-staff-page body {
  background: #222 url("/media/css/staff/bg.png") repeat-x;
}
/* line 52, sass/_staffstudents.scss */
html.rqf-staff-page div#container {
  background-color: transparent;
  border: none;
  width: 970px;
}
/* line 58, sass/_staffstudents.scss */
html.rqf-staff-page div#content-container {
  border-radius: 0 0 5px 5px;
}
/* line 63, sass/_staffstudents.scss */
html.rqf-staff-page div#content-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 75, sass/_staffstudents.scss */
html.rqf-staff-page div#header {
  background-color: transparent;
  background-image: none;
  color: #000;
}
/* line 81, sass/_staffstudents.scss */
html.rqf-staff-page div#header h1 {
  color: #fff;
  font-size: 140%;
  margin: 10px 15px;
}
/* line 87, sass/_staffstudents.scss */
html.rqf-staff-page div#header a {
  color: #FFF;
  text-decoration: none;
}
/* line 92, sass/_staffstudents.scss */
html.rqf-staff-page div#header #logo {
  float: left;
  width: 45%;
}
/* line 98, sass/_staffstudents.scss */
html.rqf-staff-page #global {
  padding: 10px 15px 0;
}
/* line 102, sass/_staffstudents.scss */
html.rqf-staff-page #global #staffstudent {
  display: none;
}
/* line 106, sass/_staffstudents.scss */
html.rqf-staff-page #global #links {
  float: right;
}
/* line 110, sass/_staffstudents.scss */
html.rqf-staff-page #global a:hover {
  text-decoration: underline;
}
/* line 114, sass/_staffstudents.scss */
html.rqf-staff-page div#location {
  float: left;
  width: 60%;
  margin-right: 15px;
  margin-top: 0px;
}
/* line 122, sass/_staffstudents.scss */
html.rqf-staff-page div#header div#location h1 {
  color: #860000;
  font-size: 180%;
  margin: 10px 0 10px 15px;
  text-shadow: 0 -1px 0 black;
}
/* line 129, sass/_staffstudents.scss */
html.rqf-staff-page div#header form {
  float: right;
  width: 35%;
  padding: 0px;
  /* margin: 14px 9px 0 0; */
}
/* line 137, sass/_staffstudents.scss */
html.rqf-staff-page div#header form label {
  color: #000;
}
/* line 142, sass/_staffstudents.scss */
html.rqf-staff-page div#header form input {
  border: 1px solid #092E69;
  color: #000000;
  margin-bottom: 15px;
  padding: 5px;
}
/* line 150, sass/_staffstudents.scss */
html.rqf-staff-page div#header form input.submit {
  border: 1px solid #111;
  color: #FFF;
  margin-right: 0;
  padding: 5px 10px;
}
/* line 167, sass/_staffstudents.scss */
html.rqf-staff-page div#header form input.submit:hover {
  border-color: #111;
}
/* line 171, sass/_staffstudents.scss */
html.rqf-staff-page div#header form input.submit:active {
  color: #eee;
}
/* line 201, sass/_staffstudents.scss */
html.rqf-staff-page #extra-links h1 {
  float: left;
}
/* line 205, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu {
  display: block;
  float: right;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 213, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu a:link {
  text-decoration: none;
}
/* line 217, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu a:hover {
  text-decoration: underline;
}
/* line 221, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu li {
  float: left;
  padding: 10px 0;
  position: relative;
  z-index: 999;
}
/* line 228, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu li a {
  padding: 10px;
}
/* line 232, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu {
  background-color: #2C4B7E;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  width: 100px;
  z-index: 999;
}
/* line 245, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li {
  display: block;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #234172;
  border-top: 1px solid #3a5a90;
}
/* line 253, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li a {
  display: block;
  width: 80px;
}
/* line 258, sass/_staffstudents.scss */
html.rqf-staff-page #topmenu ul.submenu li a:hover {
  background-color: #052A66;
  text-decoration: none;
}
/* line 267, sass/_staffstudents.scss */
html.rqf-staff-page div#breadcrumb {
  color: #000;
  background-color: #eee;
}
/* line 272, sass/_staffstudents.scss */
html.rqf-staff-page div#breadcrumb ul {
  margin: 0 15px;
}
/* line 278, sass/_staffstudents.scss */
html.rqf-staff-page div#breadcrumb a:link {
  color: #000;
}
/* line 282, sass/_staffstudents.scss */
html.rqf-staff-page div#breadcrumb a:visited {
  color: #000;
}
/* line 286, sass/_staffstudents.scss */
html.rqf-staff-page div#breadcrumb a:hover {
  color: #000;
}
/* line 331, sass/_staffstudents.scss */
html.rqf-staff-page .boxout, html.rqf-staff-page .leftBox, html.rqf-staff-page .rightBox, html.rqf-staff-page .boxoutAlt {
  border-radius: 5px;
}
/* line 336, sass/_staffstudents.scss */
html.rqf-staff-page .boxout, html.rqf-staff-page .leftBox, html.rqf-staff-page .rightBox {
  background-color: #eee;
  border-color: #eee;
}
/* line 342, sass/_staffstudents.scss */
html.rqf-staff-page .boxout h1, html.rqf-staff-page .boxout h2, html.rqf-staff-page .boxout h3, html.rqf-staff-page .boxout h4, html.rqf-staff-page .boxout h5,
html.rqf-staff-page .leftBox h1, html.rqf-staff-page .leftBox h2, html.rqf-staff-page .leftBox h3, html.rqf-staff-page .leftBox h4, html.rqf-staff-page .leftBox h5,
html.rqf-staff-page .rightBox h1, html.rqf-staff-page .rightBox h2, html.rqf-staff-page .rightBox h3, html.rqf-staff-page .rightBox h4, html.rqf-staff-page .rightBox h5 {
  text-shadow: 0 1px 0 white;
}
/* line 353, sass/_staffstudents.scss */
html.rqf-staff-page .boxoutAlt h1, html.rqf-staff-page .boxoutAlt h2, html.rqf-staff-page .boxoutAlt h3, html.rqf-staff-page .boxoutAlt h4, html.rqf-staff-page .boxoutAlt h5 {
  text-shadow: 0 -1px 0 #051C42;
}
/* line 357, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .boxoutAlt,
html.rqf-staff-page div#mdcolumn .boxoutAlt p,
html.rqf-staff-page div#mdcolumn .boxoutAlt h2,
html.rqf-staff-page div#mdcolumn .boxoutAlt h3,
html.rqf-staff-page div#mdcolumn .boxoutAlt h4,
html.rqf-staff-page div#mdcolumn .boxoutAlt h5,
html.rqf-staff-page div#mdcolumn .boxoutAlt a:link,
html.rqf-staff-page div#mdcolumn .boxoutAlt a:visited,
html.rqf-staff-page div#mdcolumn .boxoutAlt a:hover,
html.rqf-staff-page div#mdcolumn .boxoutAlt li,
html.rqf-staff-page div#rhcolumn .boxoutAlt,
html.rqf-staff-page div#rhcolumn .boxoutAlt p,
html.rqf-staff-page div#rhcolumn .boxoutAlt h2,
html.rqf-staff-page div#rhcolumn .boxoutAlt h3,
html.rqf-staff-page div#rhcolumn .boxoutAlt h4,
html.rqf-staff-page div#rhcolumn .boxoutAlt h5,
html.rqf-staff-page div#rhcolumn .boxoutAlt a:link,
html.rqf-staff-page div#rhcolumn .boxoutAlt a:visited,
html.rqf-staff-page div#rhcolumn .boxoutAlt a:hover,
html.rqf-staff-page div#rhcolumn .boxoutAlt li {
  color: #FFF;
}
/* line 380, sass/_staffstudents.scss */
html.rqf-staff-page div#rhcolumn .boxoutAlt li {
  background: transparent url("/media/global/templateimages/bullet_white.gif") no-repeat scroll 0 4px;
}
/* line 384, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .boxoutAlt li {
  background: transparent url("/media/global/templateimages/bullet_white.gif") no-repeat scroll 0 4px;
}
/* line 400, sass/_staffstudents.scss */
html.rqf-staff-page a:hover {
  text-decoration: none;
}
/* line 404, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn {
  line-height: 140%;
}
/* line 408, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn p {
  line-height: 150%;
}
/* line 412, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h1 {
  font-size: 250%;
}
/* line 416, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h1#userNiceName {
  float: left;
  font-size: 170%;
}
/* line 426, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h3, html.rqf-staff-page div#rhcolumn h3 {
  font-size: 150%;
}
/* line 430, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h4, html.rqf-staff-page div#rhcolumn h4 {
  font-size: 130%;
  font-style: normal;
}
/* line 435, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h5, html.rqf-staff-page div#rhcolumn h5 {
  font-size: 120%;
  font-style: italic;
}
/* line 442, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h2, html.rqf-staff-page div#mdcolumn .col-half h2, html.rqf-staff-page div#mdcolumn .col-third h2, html.rqf-staff-page div#mdcolumn .col-half .boxoutAlt h2 {
  background-color: transparent;
  font-size: 170%;
}
/* line 449, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-half .boxoutAlt h2 {
  color: #fff;
}
/* line 459, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-third h2 {
  font-size: 150%;
}
/* line 463, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn li, html.rqf-staff-page div#mdcolumn ol ul li {
  background: transparent url("/media/css/staff/bullet.gif") no-repeat 0px 4px;
}
/* line 468, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn hr {
  color: #e6e5cf;
  background-color: #e6e5cf;
}
/* line 474, sass/_staffstudents.scss */
html.rqf-staff-page table tr th {
  color: #FFFFFF;
}
/* line 487, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn ul.tabNavigation li a {
  padding: 5px;
}
/* line 497, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h3.q, html.rqf-staff-page div#mdcolumn h3.q a, html.rqf-staff-page div#mdcolumn .col-half h3.q {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 100%;
}
/* line 503, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn h3.q:hover {
  text-decoration: underline;
}
/* line 509, sass/_staffstudents.scss */
html.rqf-staff-page #homepagebanner a {
  color: #fff;
}
/* line 513, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #homepagebanner .imagewithcaption .caption p {
  padding: 5px 10px;
}
/* line 521, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-half > h2, html.rqf-staff-page div#mdcolumn .col-third > h2 {
  padding-left: 0;
}
/* line 525, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-half h2, html.rqf-staff-page div#mdcolumn .col-half .boxoutAlt h2, html.rqf-staff-page div#mdcolumn .col-third h2, html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h2 {
  font-size: 150%;
}
/* line 529, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-half .boxout h2, html.rqf-staff-page div#mdcolumn .col-half .boxoutAlt h2, html.rqf-staff-page div#mdcolumn .col-third .boxout h2, html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h2 {
  background-color: transparent;
  margin-top: 5px;
  padding-bottom: 0;
}
/* line 536, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h2 a:link, html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h2 a:hover, html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h2 a:visited {
  color: #fff;
}
/* line 540, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .col-half h3, html.rqf-staff-page div#mdcolumn .col-half .boxoutAlt h3, html.rqf-staff-page div#mdcolumn .col-third h3, html.rqf-staff-page div#mdcolumn .col-third .boxoutAlt h3 {
  font-size: 130%;
}
/* line 548, sass/_staffstudents.scss */
html.rqf-staff-page div#rhcolumn {
  float: left;
}
/* line 552, sass/_staffstudents.scss */
html.rqf-staff-page div#rhcolumn ul {
  list-style: none outside none;
  margin-left: 0;
  padding-left: 0;
}
/* line 558, sass/_staffstudents.scss */
html.rqf-staff-page div#rhcolumn ul li, html.rqf-staff-page div#rhcolumn ol ul li {
  background: transparent url("/media/css/staff/bullet.gif") no-repeat 0px 4px;
  padding-left: 12px;
}
/* line 570, sass/_staffstudents.scss */
html.rqf-staff-page div#footer {
  border-top: none;
  color: #FFF;
  margin-top: 0;
  padding: 0;
}
/* line 577, sass/_staffstudents.scss */
html.rqf-staff-page div#footer a {
  color: #FFF;
}
/* line 581, sass/_staffstudents.scss */
html.rqf-staff-page #lastupdated {
  clear: both;
  color: #888;
  font-size: 70%;
  margin: 10px 20px 0 0;
  text-align: right;
}
/* line 589, sass/_staffstudents.scss */
html.rqf-staff-page #footer h2 {
  /* border-bottom:5px solid #eee;  */
  color: #eee;
  margin: 0;
  padding: 0 0 0px;
  text-shadow: 0 -1px 0 black;
}
/* line 597, sass/_staffstudents.scss */
html.rqf-staff-page div#footer a:hover, html.rqf-staff-page div#footer .edit a:hover {
  text-decoration: none;
}
/* line 605, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap {
  float: left;
  padding: 20px;
}
/* line 610, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap .col-third {
  float: left;
  margin-left: 15px;
  width: 200px;
}
/* line 616, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap .col-third.first-col {
  margin-left: 0;
}
/* line 620, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap h3 {
  margin-bottom: 5px;
  margin-top: 20px;
}
/* line 625, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}
/* line 632, sass/_staffstudents.scss */
html.rqf-staff-page #sitemap li {
  margin-bottom: 3px;
  background: transparent url("/media/css/staff/bullet.gif") no-repeat 0px 4px;
  padding-left: 12px;
}
/* line 642, sass/_staffstudents.scss */
html.rqf-staff-page #union-social {
  clear: both;
  float: left;
  padding: 20px;
  width: 600px;
}
/* line 649, sass/_staffstudents.scss */
html.rqf-staff-page #social {
  float: left;
  width: 215px;
}
/* line 654, sass/_staffstudents.scss */
html.rqf-staff-page #social a:first-child img {
  margin-bottom: 10px;
}
/* line 658, sass/_staffstudents.scss */
html.rqf-staff-page #union {
  float: left;
}
/* line 662, sass/_staffstudents.scss */
html.rqf-staff-page #union a:first-child img {
  margin-right: 15px;
}
/* line 669, sass/_staffstudents.scss */
html.rqf-staff-page #feedback {
  margin-left: 690px;
  padding: 20px;
  text-align: left;
}
/* line 676, sass/_staffstudents.scss */
html.rqf-staff-page #feedback label {
  /* display:inline-block;
  margin:15px 0 10px;  */
  color: #fff;
}
/* line 682, sass/_staffstudents.scss */
html.rqf-staff-page #feedback textarea {
  height: 150px;
  /* margin-bottom:15px;  */
  width: 230px;
}
/* line 688, sass/_staffstudents.scss */
html.rqf-staff-page div#footer form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
/* line 695, sass/_staffstudents.scss */
html.rqf-staff-page div#footer form li {
  background: none;
  display: block;
  margin: 0;
  padding: 6px 5px 9px 0px;
  width: 62%;
}
/* line 703, sass/_staffstudents.scss */
html.rqf-staff-page #footer form li:after, html.rqf-staff-page #footer form li div:after {
  clear: none;
}
/* line 707, sass/_staffstudents.scss */
html.rqf-staff-page #footer input.submit {
  padding: 5px 10px;
}
/* line 711, sass/_staffstudents.scss */
html.rqf-staff-page div#footer #feedback a:link {
  text-decoration: underline;
}
/* line 718, sass/_staffstudents.scss */
html.rqf-staff-page #footer #legal {
  clear: both;
  font-size: 85%;
  padding: 20px;
}
/* line 724, sass/_staffstudents.scss */
html.rqf-staff-page #footer #legal p {
  margin: 0;
}
/* line 732, sass/_staffstudents.scss */
html.rqf-staff-page form input.submit, html.rqf-staff-page form input[type=submit] {
  border: 1px solid #111;
  color: #FFF;
  text-shadow: 0px -1px 0px #051c42;
}
/* line 748, sass/_staffstudents.scss */
html.rqf-staff-page input.submit:hover, html.rqf-staff-page input[type=submit]:hover {
  border-color: #000;
}
/* line 752, sass/_staffstudents.scss */
html.rqf-staff-page input.submit:active, html.rqf-staff-page input[type=submit]:active {
  color: #eee;
}
/* line 768, sass/_staffstudents.scss */
html.rqf-staff-page a#logout {
  float: right;
}
/* line 773, sass/_staffstudents.scss */
html.rqf-staff-page #logout-text {
  display: none;
}
/* line 780, sass/_staffstudents.scss */
html.rqf-staff-page #newsinfo {
  float: right;
  font-size: 60%;
}
/* line 785, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem .headline {
  display: inline;
  font-weight: normal;
}
/* line 790, sass/_staffstudents.scss */
html.rqf-staff-page div#latestnews.noteaser .newsitem p.newsPosted {
  margin: 0 0 10px 0;
}
/* line 794, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem {
  margin-bottom: 15px;
}
/* line 798, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem span.newsposted {
  font-size: 85%;
  color: #777;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}
/* line 805, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem span.newsposted:before {
  content: " - ";
}
/* line 809, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou .newsitem a:hover span.newsposted {
  text-decoration: none;
}
/* line 813, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a[href$=".pdf"] {
  background: url("/media/global/icons/icon_pdf.gif") no-repeat left center;
  padding-left: 20px;
}
/* line 818, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a {
  background: url("/media/global/icons/icon_external.gif") no-repeat left center;
  padding-left: 20px;
}
/* line 823, sass/_staffstudents.scss */
html.rqf-staff-page #latestnews.newsforyou a[href*="yorkextra/articles"] {
  background: none;
  padding-left: 0;
}
/* line 829, sass/_staffstudents.scss */
html.rqf-staff-page .yex {
  background-color: #fff;
}
/* line 833, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-title {
  display: none;
}
/* line 838, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-content {
  background-color: #fff;
}
/* line 842, sass/_staffstudents.scss */
html.rqf-staff-page .yex h1:first-of-type {
  margin-top: 0;
}
/* line 847, sass/_staffstudents.scss */
html.rqf-staff-page .yex .ui-tooltip-content > img:first-child, html.rqf-staff-page img.yorkextra-banner {
  display: none;
}
/* line 851, sass/_staffstudents.scss */
html.rqf-staff-page .yex img {
  max-width: 100%;
}
/* line 870, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip, html.rqf-staff-page .qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  line-height: 140%;
  max-width: 500px;
  min-width: 50px;
  font-size: 80% !important;
  /* 	line-height: 12px; */
  z-index: 15000;
}
/* line 886, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-fluid {
  display: block;
  visibility: hidden;
  position: static !important;
  float: left !important;
}
/* line 893, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-content {
  position: relative;
  padding: 0 12px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 906, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar {
  position: relative;
  min-height: 14px;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 2px 2px 0;
  border-style: solid;
  font-weight: bold;
}
/* line 918, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar + .ui-tooltip-content {
  border-top-width: 0px !important;
}
/* line 923, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar .ui-state-default {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: medium none;
}
/* line 934, sass/_staffstudents.scss */
html.rqf-staff-page * html .ui-tooltip-titlebar .ui-state-default {
  top: 16px;
}
/* line 939, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-titlebar .ui-icon,
html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
}
/* line 945, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-icon, html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 951, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-icon .ui-icon {
  width: 18px;
  height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
/* line 964, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-titlebar,
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-content {
  border-color: #aaa;
  color: #111;
}
/* line 971, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-content {
  background-color: #fafafa;
}
/* line 975, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-light .ui-tooltip-titlebar {
  background-color: #fafafa;
}
/* line 980, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip {
  margin: 0 auto;
  overflow: hidden;
  background: transparent !important;
  border: 0px dashed transparent !important;
  z-index: 10;
}
/* line 989, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip,
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip * {
  position: absolute;
  line-height: 0.1px !important;
  font-size: 0.1px !important;
  color: #123456;
  background: transparent;
  border: 0px dashed transparent;
}
/* line 1001, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip .ui-tooltip-tip canvas {
  top: 0;
  left: 0;
}
/* line 1007, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-shadow {
  -webkit-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
}
/* line 1013, sass/_staffstudents.scss */
html.rqf-staff-page .ui-tooltip-shadow .ui-tooltip-titlebar,
html.rqf-staff-page .ui-tooltip-shadow .ui-tooltip-content {
  filter: progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3)";
  _margin-bottom: -3px;
  /* IE6 */
  .margin-bottom: -3 px;
  /* IE7 */
}
/* line 1024, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem p.newsPosted {
  font-size: 85%;
  color: #7e7e7e;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 1032, sass/_staffstudents.scss */
html.rqf-staff-page div#pressreleases.noteaser .newsitem p.newsPosted {
  margin-bottom: 15px;
}
/* line 1036, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem p {
  margin-bottom: 20px;
}
/* line 1041, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem img {
  padding-right: 15px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 1048, sass/_staffstudents.scss */
html.rqf-staff-page #mdcolumn #pressreleases hr, html.rqf-staff-page #rhcolumn #pressreleases hr {
  color: transparent;
  background-color: transparent;
  clear: both;
  padding: 0;
  margin: 5px 0;
}
/* line 1056, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem .headline {
  font-size: 100%;
  display: block;
  font-weight: bold;
}
/* line 1062, sass/_staffstudents.scss */
html.rqf-staff-page #pressreleases .newsitem .newsimage {
  float: left;
}
/* line 1069, sass/_staffstudents.scss */
html.rqf-staff-page h2#timetableHeading {
  float: left;
}
/* line 1073, sass/_staffstudents.scss */
html.rqf-staff-page #todaysTimetable {
  margin-bottom: 20px;
}
/* line 1077, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p:first-child {
  margin-top: 0;
}
/* line 1081, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p:last-child {
  padding-bottom: 0;
}
/* line 1085, sass/_staffstudents.scss */
html.rqf-staff-page .prevNext {
  float: right;
  margin-right: 12px;
  position: relative;
  top: 58px;
  z-index: 999;
}
/* line 1094, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a {
  background-color: #ddd;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  margin-right: 0;
  padding: 0 6px;
}
/* line 1107, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a:link, html.rqf-staff-page div#mdcolumn .prevNext a:visited {
  text-decoration: none;
  color: #444;
}
/* line 1112, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a:hover {
  border: 1px solid #aaa;
  background-color: #ccc;
  color: #000;
}
/* line 1118, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a.prev {
  margin-right: 3px;
}
/* line 1122, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn .prevNext a.disabled, html.rqf-staff-page div#mdcolumn .prevNext a.disabled:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #999;
  cursor: default;
}
/* line 1129, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable h3:first-child {
  margin-bottom: 3px;
}
/* line 1133, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn p#weekOfTerm {
  color: #444;
  font-size: 90%;
  margin-bottom: 20px;
  padding-bottom: 0;
}
/* line 1140, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn #todaysTimetable p {
  font-size: 95%;
}
/* line 1150, sass/_staffstudents.scss */
html.rqf-staff-page #library-text {
  margin: 0 6px 20px 12px;
  width: 130px;
}
/* line 1157, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn ul#libraryItemsList {
  font-size: 90%;
  margin: 0 -12px;
  max-height: 300px;
  overflow: auto;
}
/* line 1164, sass/_staffstudents.scss */
html.rqf-staff-page div#mdcolumn ul#libraryItemsList li {
  background: none;
  margin: 10px 0;
  padding-left: 0;
}
/* line 1170, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList span {
  border-radius: 2px;
  font-size: 90%;
  margin-right: 5px;
  padding: 1px 3px;
  text-shadow: none;
}
/* line 1178, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .overdue {
  color: #fff;
  background-color: red;
}
/* line 1183, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .today {
  color: #fff;
  background-color: black;
}
/* line 1188, sass/_staffstudents.scss */
html.rqf-staff-page ul#libraryItemsList .future {
  color: #000;
  background-color: #bbb;
}
/* line 1197, sass/_staffstudents.scss */
html.rqf-staff-page #university-magazine p.right img {
  height: 140px;
  width: 100px;
}
/* line 1206, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event {
  padding: 0;
  padding-top: 5px;
}
/* line 1211, sass/_staffstudents.scss */
html.rqf-staff-page mdcolumn#publiclectures .event {
  border-bottom: 1px solid #EEE;
}
/* line 1215, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate {
  background-color: #fff;
  float: left;
  margin-bottom: 15px;
  margin-top: 4px;
  padding-bottom: 0px;
  text-align: center;
  width: 35px;
}
/* line 1225, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .day {
  background-color: #860000;
  color: #FFF;
  display: block;
  font-size: 70%;
  line-height: 150%;
  padding: 1px;
}
/* line 1234, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .date {
  border: 1px solid #DDD;
  border-width: 0 1px;
  display: block;
  font-size: 130%;
  font-weight: bold;
  line-height: 120%;
}
/* line 1243, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdate .month {
  border: 1px solid #DDD;
  border-width: 0 1px 1px 1px;
  display: block;
  line-height: 120%;
  text-transform: uppercase;
  font-size: 80%;
  padding: 1px;
}
/* line 1253, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventdetails {
  margin-bottom: 15px;
  margin-left: 45px;
  padding-left: 0;
}
/* line 1258, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .eventtitle {
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 1263, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event .venue {
  font-size: 85%;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 1269, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .ampm {
  text-transform: lowercase;
}
/* line 1273, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event p.speaker {
  font-size: 85%;
  margin-bottom: 5px;
}
/* line 1278, sass/_staffstudents.scss */
html.rqf-staff-page #publiclectures .event p.eventteaser {
  font-size: 85%;
  margin-bottom: 5px;
}
/* line 1283, sass/_staffstudents.scss */
html.rqf-staff-page #rhcolumn #publiclectures .event .eventteaser {
  display: none;
}
/* line 1287, sass/_staffstudents.scss */
html.rqf-staff-page #rhcolumn #publiclectures .event .eventtitle {
  font-weight: bold;
  margin: 0;
}
